*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
    background-color: lightgray;
}
/*intestazione della pagina*/

.header-page{
   background-color: white;
    vertical-align: middle;
}

.logo{
    width: 100px;
}

/*container*/

.bg-white{
background-color: white;

}


.main-content{
    padding: 15px;
    margin: 0 auto;
    max-width: fit-content;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

.task,.notask{
    padding-left: 0rem ;
    padding-bottom: 0.4rem ;
    padding-top: 0.4rem; 
}


ul{
    list-style: none;
}

.title:before {
    content:  ' \2207';
   font-size: 0.8rem;
   text-align: center;
}





mark{
    border-radius: 15px;
    font-size: x-small;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 4px;
    border-style: solid;
}


.bmarker{
    
    background-color: rgb(85, 154, 206);
}

.pmarker{
    background-color: rgb(148, 31, 134);
}

.gmarker{
    background-color: rgb(12, 134, 21); 
}
  
    
.omarker{
   
    background-color: rgb(231, 118, 12);
}

.pimarker{
    background-color: rgb(217, 41, 91);
}

.lgmarker{
    background-color: lightgreen
}


.conteiner{
    border-radius: 20px;
    padding: 15px;
}

 .conteiner,.title,.task,.notask{

  background-color: white;
  
 
 }
/*todolist*/

.list{
    display:block;
    padding-top: 1rem;
    background-color: white;
}


.task:before{
    content: ' \2611';
    

}

.notask:before{
    content: ' \2297'
   
}

    




